<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @item.product_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @item.rate %>
</p>

<p>
  <strong>Received:</strong>
  <%= @item.received %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
